#root {
  height:100vh;
}

.text-cutoff {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.league-selection-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 1rem;
}

.content-wrapper {
  min-height: calc(100% - 7rem);
}

.footer {
  height: 7rem;

  & img {
    width: 10vw;
    object-fit: contain;
  }
}
